[submodule "deps/nfd-extended"]
	path = deps/nfd-extended
	url = https://github.com/btzy/nativefiledialog-extended/
[submodule "deps/libebur128"]
	path = deps/libebur128
	url = https://github.com/jiixyj/libebur128/
[submodule "deps/r8brain"]
	path = deps/r8brain
	url = https://github.com/avaneev/r8brain-free-src/
